@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #1e1e1e; */
  letter-spacing: -1px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--text-color);
}

h1 {
  font-size: 62px;
  line-height: 127.1%;
}

h2 {
  font-size: 32px;
}

a {
  color: var(--body-color);
  font-size: 16px;
  color: var(--text-color);
}

p,
label {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  line-break: normal;
  color: var(--text-color);
}


@media (max-width: 1000px) {
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  } */

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 22px !important;
    line-height: 1.3;
  }
}
