form {
  border-radius: 16px;
  padding: 24px;
  width: 100% !important;
  display: grid;
  gap: 24px;
  height: fit-content !important;
}
@media (max-width: 768px) {
  form {
    width: 100% !important;
  }
}

form > .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

form .form-group {
  display: grid;
  gap: 8px;
  width: 100%;
}

.form-group p {
  font-size: 14px !important;
  font-weight: 300;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="url"],
form input[type="search"],
form input[type="date"],
form input[type="time"],
form textarea {
  padding: 4px 8px;
  height: 42px;
  background: #101011;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
  color: var(--text-color);
}

form textarea {
  resize: none;
  height: auto; /* Allow height to be set by rows */
  width: auto !important;
  padding: 8px;
  background: #fff;
  box-shadow: 0px 6.327px 12.655px 0px rgba(0, 0, 0, 0.04);
  height: 70px;
}

form textarea[rows="5"] {
  height: auto;
  /* Allow height to be set by rows */
}

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

select {
  padding: 4px 8px;
  height: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>')
    no-repeat right center;
  background-size: 20px 20px;
  background-position: 98% center;
  cursor: pointer;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
}


button {
  border-radius: 8px !important;
  padding: 8px 16px;
  cursor: pointer;
height: 42px fit-content;
}

/* Styling the password input container to position the icon inside the input field */
form .password-visible {
  position: relative;
  display: flex;
  align-items: center;
}


form .password-visible input {
  width: 100%;
  padding-right: 40px;
}



form .password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}




.btn-primary {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
  font-weight: 600;
}
.btn-outlne {
  background-color: transparent;
  border: 1px solid #00000028;
  color: #121212;
}

.btn-error {
  background-color: #ff3d22;
  border: 1px solid #ff3d22;
  color: white;
}

.form-label-group {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;
}

.form-label-group > img {
  width: 20px !important;
  height: 20px !important;
  object-fit: cover;
}

form .required {
  color: red !important;
}

.select-options {
  display: flex !important;
  align-items: center;
  text-align: flex-start !important;
  gap: 8px !important;
  padding: 24px 24px 24px 8px !important;
}

.select-options img {
  height: 32px;
  width: 32px;
}
