* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    background-color: var(--primary-color) !important;
}

input,
select {
    padding: 0 1em 0 1em;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>')
        no-repeat right center;
    background-size: 20px 20px;
    background-position: 98% center;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}
/* button:hover {
  transform: scale(1.05);
} */
.truck-bg {
    width: 100%;
    background: url("../images/general/truck-img.png");
    background-size: cover;
    height: 20em;
    border-radius: 10px;
    color: #ffffff !important;
}
.nuxt-link {
    width: 100%;
}

hr {
    border: 0.5px solid #c9c9c83e !important;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.white {
    color: white;
}

.black {
    color: #121212;
}

.image-small {
    height: 80px !important;
    width: 80px !important;
}
